* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #e1eef0;
  font-family: "Poppins", sans-serif;
  position: relative;
  padding-bottom: 150px;
  min-height: 100vh;
}

.tittle1 {
  color: #fff;
  text-align: center;
  width: 100%;
}

.tittle2 {
  padding: 0 1rem;
  color: #fff;
  text-align: center;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*INDEX*/
.encabezado {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 14, 14, 0.2)), to(rgba(10, 10, 10, 0.8))), url("/img/fondo1.jpg");
  background-image: linear-gradient(rgba(14, 14, 14, 0.2), rgba(10, 10, 10, 0.8)), url("/img/fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  position: relative;
}

.encabezado .encabezado__tittle {
  position: absolute;
  top: 120px;
  color: #fff;
  font-size: 3.5rem;
}

.encabezado .encabezado__tittle--sub {
  text-align: center;
  padding: 0 5px;
  font-size: 2rem;
  top: 190px;
}

.encabezado .wave {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.cardG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background-image: linear-gradient(315deg, #6f25ef 0%, #5ab4c4 100%);
  padding: 3%;
  width: 80%;
  max-width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  -webkit-box-shadow: #000 0px 5px 15px;
          box-shadow: #000 0px 5px 15px;
}

.cardG .tittle {
  width: 100%;
  margin-bottom: 10px;
}

.cardG p {
  width: 70%;
}

.cardG .ejemplos {
  width: 30%;
  max-width: 200px;
}

.cardG--Importancia {
  background-image: linear-gradient(315deg, #5ab4c4 0%, #6f25ef 100%);
}

/*POPULARES*/
.encabezadoSecond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5ab4c4), to(#6f25ef));
  background-image: linear-gradient(0deg, #5ab4c4 0%, #6f25ef 100%);
  height: 300px;
  position: relative;
  margin-bottom: 200px;
}

.encabezadoSecond .waveSecond {
  width: 100%;
  position: absolute;
  bottom: 0;
  bottom: -150px;
}

.card {
  background-image: linear-gradient(135deg, #5ab4c4 13%, #7ddfcb 89%);
  border-radius: 10px;
  padding: 1.5%;
  width: 80%;
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-shadow: #000 0px 5px 15px;
          box-shadow: #000 0px 5px 15px;
}

.card .card--division {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card--division .card_tittle {
  color: #6f25ef;
  text-align: center;
  width: 100%;
}

.card .card--division .card_creation {
  color: #fff;
  font-style: italic;
  margin: 5px 0;
}

.card .card--division .img_card {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
}

.card .card_description {
  width: 50%;
}

/*CONTACTANOS*/
.form {
  background-color: #09869d;
  width: 90%;
  margin: auto;
  padding: 2%;
  max-width: 900px;
  border-radius: 15px;
  -webkit-box-shadow: #000 0px 5px 15px;
          box-shadow: #000 0px 5px 15px;
}

.form .form__tittle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  color: #fff;
  width: 100%;
  font-size: 2.2rem;
  -webkit-animation: upDown 2s infinite;
          animation: upDown 2s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-7.5px);
            transform: translateY(-7.5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-7.5px);
            transform: translateY(-7.5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.form .form__group {
  margin: 15px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form .form__group .ingreso {
  border-top-left-radius: 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: #6f25ef 4px solid;
  background-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form .form__group .form__icon {
  border-top-right-radius: 10px;
  font-size: 25px;
  width: 15px;
  padding: 4px 5px;
  color: #6f25ef;
  border-bottom: #6f25ef 4px solid;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form .form__group .ingreso:hover,
.form .form__group .ingreso:focus {
  border-bottom: #09869d 4px solid;
}

.form .form__group .ingreso:hover ~ .form__icon,
.form .form__group .ingreso:focus ~ .form__icon {
  border-bottom: #09869d 4px solid;
  color: #09869d;
}

.form .checkbox {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

.form .checkbox .permiso {
  font-weight: bold;
}

.form .btn {
  padding: 2%;
  background-color: #6f25ef;
  color: #5ab4c4;
  font-weight: bold;
  border-radius: 10px;
  border: #6f25ef 3px solid;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: #000 0px 0px 5px;
          box-shadow: #000 0px 0px 5px;
}

.form .btn:hover,
.form .btn:focus {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background-color: transparent;
  border: #6f25ef 3px solid;
  color: #6f25ef;
}

/*NUESTROS JUEGOS*/
.table--container {
  background-color: #5ab4c4;
  width: 85%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-shadow: #000 0px 5px 15px;
          box-shadow: #000 0px 5px 15px;
}

.table--container .table--item,
.table--container .table--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table--container .table--item {
  padding-left: 10px;
  border: #000 solid 1px;
  font-size: 15px;
}

.table--container .table--header {
  background-color: #6f25ef;
  width: 100%;
  font-weight: bold;
  height: 50px;
  font-size: 17px;
  border-bottom: #000 solid 3px;
  color: #5ab4c4;
}

/*NAVBAR*/
.container--nav {
  z-index: 1000;
  background-color: #6f25ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: #000 0px 2px 50px;
          box-shadow: #000 0px 2px 50px;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 130px;
  height: 60px;
  margin-left: 20px;
}

.logo {
  width: 130px;
  margin: auto;
}

.menu {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100%;
  margin-left: 15px;
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #5ab4c4;
  font-weight: bold;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.btnContact {
  border-radius: 10px;
  height: 40px;
  background-color: #5ab4c4;
  color: #6f25ef;
  position: absolute;
  right: 20px;
  border: #5ab4c4 2px solid;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__link:hover,
.menu__link:focus {
  background-color: #5ab4c4;
  color: #6f25ef;
}

.btnContact:hover,
.btnContact:focus {
  background-color: transparent;
  color: #5ab4c4;
}

.menuIcon {
  display: none;
  visibility: hidden;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

/*FOOTER*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6f25ef;
  color: #fff;
  position: absolute;
  bottom: 0;
}

.footer__tittle {
  padding: 25px;
  font-weight: lighter;
}

.footer__subtittle {
  font-size: 12px;
  padding: 10px;
  width: 100%;
  background-color: #09869d;
  font-weight: lighter;
}

/*RESPONSIVE*/
@media (max-width: 670px) {
  .container--nav {
    display: block;
    height: auto;
    position: fixed;
  }
  .menu {
    position: absolute;
    display: none;
    margin: 0;
    width: 100%;
    background-color: #09869d;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .menu.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: moveToRight 0.8s ease 0.2s forwards;
            animation: moveToRight 0.8s ease 0.2s forwards;
  }
  .menu__btn {
    background-color: #9ec7d3;
    width: 100%;
    height: 55px;
  }
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 55px;
    font-size: 25px;
    background-color: #09869d;
    width: 100%;
  }
  .btnContact {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    display: none;
    right: 0;
    border: none;
    border-radius: 0;
    color: #5ab4c4;
    height: 55px;
  }
  .btnContact:hover,
  .btnContact:focus {
    background-color: #5ab4c4;
    color: #6f25ef;
  }
  .btnContact.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 224px;
    -webkit-animation: moveToRight 0.8s ease 0.2s forwards;
            animation: moveToRight 0.8s ease 0.2s forwards;
  }
  .menuIcon {
    visibility: visible;
    position: absolute;
    top: 10px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #09869d;
    font-size: 40px;
    cursor: pointer;
  }
  @-webkit-keyframes moveToRight {
    from {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes moveToRight {
    from {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  .cardG {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapper .cardG p {
    width: 100%;
    padding-bottom: 15px;
  }
  .cardG .ejemplos {
    width: 70%;
  }
  .checkbox {
    width: 80%;
    text-align: center;
    margin: 25px auto;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card_description {
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */