/*INDEX*/
.encabezado {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(14, 14, 14, 0.2),
      rgba(10, 10, 10, 0.8)
    ),
    url("/img/fondo1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 550px;
  position: relative;

  .encabezado__tittle {
    position: absolute;
    top: 120px;
    color: #fff;
    font-size: 3.5rem;
  }

  .encabezado__tittle--sub {
    text-align: center;
    padding: 0 5px;
    font-size: 2rem;
    top: 190px;
  }
  .wave {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.cardG {
  display: flex;
  border-radius: 10px;
  background-image: linear-gradient(315deg, #6f25ef 0%, #5ab4c4 100%);
  padding: 3%;
  width: 80%;
  max-width: 600px;
  flex-wrap: wrap;
  color: #fff;
  box-shadow: #000 0px 5px 15px;

  .tittle {
    width: 100%;
    margin-bottom: 10px;
  }

  p {
    width: 70%;
  }

  .ejemplos {
    width: 30%;
    max-width: 200px;
  }
}

.cardG--Importancia {
  background-image: linear-gradient(315deg, #5ab4c4 0%, #6f25ef 100%);
}

/*POPULARES*/
.encabezadoSecond {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(0deg, #5ab4c4 0%, #6f25ef 100%);
  height: 300px;
  position: relative;
  margin-bottom: 200px;
  .waveSecond {
    width: 100%;
    position: absolute;
    bottom: 0;
    bottom: -150px;
  }
}

.card {
  background-image: linear-gradient(135deg, #5ab4c4 13%, #7ddfcb 89%);
  border-radius: 10px;
  padding: 1.5%;
  width: 80%;
  max-width: 600px;
  display: flex;
  gap: 10px;
  box-shadow: #000 0px 5px 15px;
  .card--division {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card_tittle {
      color: #6f25ef;
      text-align: center;
      width: 100%;
    }

    .card_creation {
      color: #fff;
      font-style: italic;
      margin: 5px 0;
    }

    .img_card {
      margin-top: 10px;
      width: 100%;
      max-width: 300px;
    }
  }
  .card_description {
    width: 50%;
  }
}

/*CONTACTANOS*/
.form {
  background-color: #09869d;
  width: 90%;
  margin: auto;
  padding: 2%;
  max-width: 900px;
  border-radius: 15px;
  box-shadow: #000 0px 5px 15px;
  .form__tittle {
    justify-content: center;
    display: flex;
    margin: 1rem auto;
    color: #fff;
    width: 100%;
    font-size: 2.2rem;
    animation: upDown 2s infinite;
    @keyframes upDown {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-7.5px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }
  .form__group {
    margin: 15px auto;
    display: flex;
    width: 70%;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    .ingreso {
      border-top-left-radius: 10px;
      order: 2;
      text-align: center;
      width: 100%;
      outline: none;
      border: none;
      border-bottom: #6f25ef 4px solid;
      background-color: transparent;
      transition: all 0.3s;
    }

    .form__icon {
      border-top-right-radius: 10px;
      font-size: 25px;
      width: 15px;
      padding: 4px 5px;
      color: #6f25ef;
      border-bottom: #6f25ef 4px solid;
      transition: all 0.3s;
    }
    .ingreso:hover,
    .ingreso:focus {
      border-bottom: #09869d 4px solid;
    }

    .ingreso:hover ~ .form__icon,
    .ingreso:focus ~ .form__icon {
      border-bottom: #09869d 4px solid;
      color: #09869d;
    }
  }
  .checkbox {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    .permiso {
      font-weight: bold;
    }
  }

  .btn {
    padding: 2%;
    background-color: #6f25ef;
    color: #5ab4c4;
    font-weight: bold;
    border-radius: 10px;
    border: #6f25ef 3px solid;
    transition: all 0.4s;
    box-shadow: #000 0px 0px 5px;
  }

  .btn:hover,
  .btn:focus {
    transform: translateY(-10px);
    background-color: transparent;
    border: #6f25ef 3px solid;
    color: #6f25ef;
  }
}

/*NUESTROS JUEGOS*/

.table--container {
  background-color: #5ab4c4;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: #000 0px 5px 15px;
  .table--item,
  .table--header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .table--item {
    padding-left: 10px;
    border: #000 solid 1px;
    font-size: 15px;
  }

  .table--header {
    background-color: #6f25ef;
    width: 100%;
    font-weight: bold;
    height: 50px;
    font-size: 17px;
    border-bottom: #000 solid 3px;
    color: #5ab4c4;
  }
}
