$colorPrincipal: #6f25ef;
$colorSecundario: #09869d;
$colorTerciario: #5ab4c4;
$colorCuarto: #9ec7d3;
$colorQuinto: #7ddfcb;
$colorFondo: #e1eef0;
$colorBlanco: #fff;
$colorNegro: #000;

@mixin degrade($deg, $color1, $por1, $color2, $por2) {
  background-image: linear-gradient($deg, $color1, $por1, $color2, $por2);
}
