@import "general";
@import "pages";

/*NAVBAR*/

.container--nav {
  z-index: 1000;
  background-color: #6f25ef;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  align-items: center;
  box-shadow: #000 0px 2px 50px;
}

.logo__link {
  display: flex;
  width: 130px;
  height: 60px;
  margin-left: 20px;
}

.logo {
  width: 130px;
  margin: auto;
}

.menu {
  text-decoration: none;
  display: flex;
  list-style: none;
  height: 100%;
  margin-left: 15px;
}

.menu__btn {
  display: flex;
  height: 100%;
}

.menu__link {
  display: flex;
  text-decoration: none;
  color: #5ab4c4;
  font-weight: bold;
  height: 100%;
  align-items: center;
  padding: 0 10px;
  transition: all 0.7s;
}

.btnContact {
  border-radius: 10px;
  height: 40px;
  background-color: #5ab4c4;
  color: #6f25ef;
  position: absolute;
  right: 20px;
  border: #5ab4c4 2px solid;
  transition: all 0.5s;
}

.menu__link:hover,
.menu__link:focus {
  background-color: #5ab4c4;
  color: #6f25ef;
}

.btnContact:hover,
.btnContact:focus {
  background-color: transparent;
  color: #5ab4c4;
}

.menuIcon {
  display: none;
  visibility: hidden;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 30px;
  padding-bottom: 30px;
}

/*FOOTER*/
.footer {
  display: flex;
  text-align: center;
  width: 100%;
  flex-direction: column;
  background-color: #6f25ef;
  color: #fff;
  position: absolute;
  bottom: 0;
}

.footer__tittle {
  padding: 25px;
  font-weight: lighter;
}

.footer__subtittle {
  font-size: 12px;
  padding: 10px;
  width: 100%;
  background-color: #09869d;
  font-weight: lighter;
}

/*RESPONSIVE*/

@media (max-width: 670px) {
  .container--nav {
    display: block;
    height: auto;
    position: fixed;
  }
  .menu {
    position: absolute;
    display: none;
    margin: 0;
    width: 100%;
    background-color: #09869d;
    flex-direction: column;
    transform: translateX(-100%);
  }
  .menu.active {
    display: flex;
    animation: moveToRight 0.8s ease 0.2s forwards;
  }
  .menu__btn {
    background-color: #9ec7d3;
    width: 100%;
    height: 55px;
  }
  .menu__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 25px;
    background-color: #09869d;
    width: 100%;
  }
  .btnContact {
    transform: translateX(-100%);
    display: none;
    right: 0;
    border: none;
    border-radius: 0;
    color: #5ab4c4;
    height: 55px;
  }
  .btnContact:hover,
  .btnContact:focus {
    background-color: #5ab4c4;
    color: #6f25ef;
  }
  .btnContact.active {
    display: flex;
    top: 224px;
    animation: moveToRight 0.8s ease 0.2s forwards;
  }
  .menuIcon {
    visibility: visible;
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    color: #09869d;
    font-size: 40px;
    cursor: pointer;
  }
  @keyframes moveToRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .cardG {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper .cardG p {
    width: 100%;
    padding-bottom: 15px;
  }
  .cardG .ejemplos {
    width: 70%;
  }
  .checkbox {
    width: 80%;
    text-align: center;
    margin: 25px auto;
  }
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card_description {
    width: 80%;
  }
}
